{% extends 'base/base.html' %}

{% block content %}

    <center>
        <h1>Consistência</h1>
        <br/><br/>
    </center>
    {% if  user.is_authenticated %}
    <!--
        {% if file_url %}
            <p>Arquivo: <a href="{{ file_url }}">{{ file_url }}</a></p>
        {% endif %}
    -->
        {% if output_text %}
            {% for lin in output_text %}
                <p>{{ lin }}</p>
            {% endfor %}
        {% else %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="rtplan_dcm">
                <input type="submit" value="Carregar" class="btn btn-primary">
            </form>
        {% endif %}
    {% else %}
        Fazer login
    {% endif %}

{% endblock %}